/* Imports */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* 
* Base Styles
-----------------------------------------------*/
body {
    font-family: $font-family;
    background: #fff url('../images/bg.png') repeat-x;
    /* background-color: #6ebbe7; */
    background-position: top center;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

/* Simple Reset */
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

/* 
* Heading Styles
-----------------------------------------------*/

h1, .h1 {
    font-size: $fs-heading-1;
    font-weight: $fw-light;
    color: $c-txt-heading;

    small { font-size: $fs-heading-1 / 2; }
}

h2, .h2 {
    font-size: $fs-heading-2;
    font-weight: $fw-light;
    color: $c-txt-heading;

    small { font-size: $fs-heading-2 / 2; }
}

h3, .h3 {
    font-size: $fs-heading-3;
    font-weight: $fw-light;
    color: $c-txt-heading;

    small { font-size: $fs-heading-3 / 2; }
}

h4, .h4 {
    font-size: $fs-heading-4;
    font-weight: $fw-light;
    color: $c-txt-heading;
    line-height: $fs-heading-4 + 10;
    
    small { font-size: $fs-heading-4 / 2; }
}

h5, .h5 {
    font-size: $fs-heading-5;
    font-weight: $fw-light;
    color: $c-txt-heading;

    small { font-size: $fs-heading-5 / 2; }
}

/* 
* Body & Other Text Styles
-----------------------------------------------*/

p {
    font-size: $fs-regular;
    font-weight: $fw-light;
    line-height: $fs-regular + 12;

    strong { 
        font-weight: $fw-semi-bold; 
    }

    &.normal {
        font-weight: $fw-regular;
    }
}