/* 
* BEGIN: Base Laayout Styles
-----------------------------------------------*/

.main-picture 
{
    position: absolute;
    left: 0;
    right: 0;
    min-width: 990px;
    min-height: 665px; /* 800px; */
    
    background-image: url("../images/tajmahal-main.jpg");
    background-position: 50% 0px;
    background-position: center 0px;
    background-repeat: no-repeat;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: background-position;
    
    z-index: 0;
}

.main  {
    display: block;
    width: 100%;

    section {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid #cccccc;

        .content {
            position: relative;
            
            font-size: 16px;
            width: 900px;
            min-height: 0px;
            margin: 0 auto;
            overflow: hidden;
            /* border: 1px solid red; */
            
            p { 
                margin-bottom: 15px; 
            }
        }
    }
}

/* END: Base Laayout Styles */

.debug-ui {
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    background-color: #fff;
    z-index: 999;
}

