/* 
* Variables
-----------------------------------------------*/

/* Font Family */
$font-family:               'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-display:       'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;

/* Theme Background Colors */
$c-loading-bg:          #04b3e7;

$c-primary:             #5f78b7;
$c-accent:              #bcdd11;
$-secondary:            #cc0000;
$c-dark-grey:           #333333;
$c-grey:                #666666;
$c-white:               #ffffff;
$c-black:               #000000;

/* Font Colors */
$c-txt-heading:             #333333;
$c-txt:                     #333333;
$c-txt-strong:              #333333;
$c-txt-light:               #333333;

$c-txt-link:                #4dc5d6;
$c-txt-link-visited:        #4dc5d6;
$c-txt-link-hover:          #4dc5d6;
$c-border:                  #4dc5d6;

/* Font Size */
$fs-heading-1:              34px;
$fs-heading-2:              32px;
$fs-heading-3:              28px;
$fs-heading-4:              26px;
$fs-heading-5:              22px;

$fs-x-small:                12px;
$fs-small:                  14px;
$fs-regular:                18px;
$fs-large:                  24;
$fs-x-large:                32;
$fs-xx-large:               48;
$fs-xxx-large:              64; 

/* Font Weight */
$fw-light:                  300;
$fw-regular:                400;
$fw-semi-bold:              600; 
$fw-bold:                   700; 