
/* Page Headings */

.page-heading {
    font-size: 46px;
    font-weight: 300;
    text-align: center;
    line-height: 46px;
    background: url(../images/title-underline.png) bottom center no-repeat;
    padding: 35px 0 35px 0;
    margin-bottom: 25px;
}

/* Circle Links */

/* Roll Styles */


.roll {

    display: block;
    overflow: hidden;
    vertical-align: top;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;

    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    background-color: yellow;

    span {

        display: block;
        position: relative;
        background: transparent;

        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;

        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;

        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;

        &:before {
            content: attr(data-title);
            color: red;

            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;

            -webkit-transition: background 0.3s;
            -moz-transition: background 0.3s;
            transition: background 0.3s;

            -webkit-transform: rotateX(-90deg);
            -moz-transform: rotateX(-90deg);
            transform: rotateX(-90deg);

            -webkit-transform-origin: 50% 0;
            -moz-transform-origin: 50% 0;
            transform-origin: 50% 0;
        }

    }

    &:hover span,
        &:focus span {
        -webkit-transform: rotateX(90deg) translateY(-22px);
        -moz-transform: rotateX(90deg) translateY(-22px);
        transform: rotateX(90deg) translateY(-22px);

    }
}